/* Login Page */
.login {
color:white;
position: absolute;
width: 1920px;
height: 1028px;
left: -151px;
top: -56px;
background: url(/Users/rafiakhandaker/Development/code/phase-5/p5-concert-buddy/concert-buddy/client/src/LoginSignupBackground.png);
}

.login-logo{
    position: absolute;
    width: 504px;
    height: 192px;
    left: 824px;
    top: 96px;
background: url(/Users/rafiakhandaker/Development/code/phase-5/p5-concert-buddy/concert-buddy/client/src/logo.png);
}

.login-user{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 0px;
gap: 8px;

position: absolute;
width: 430px;
height: 48px;
left: 839px;
top: 497px;

border-bottom: 1px solid #E0E0E0;
}

.login-password{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 0px;
gap: 8px;

position: absolute;
width: 430px;
height: 48px;
left: 839px;
top: 560px;

border-bottom: 1px solid #E0E0E0;
}


.login-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 8px;

position: absolute;
width: 430px;
height: 60px;
left: 839px;
top: 705px;

background: #060606;
border-radius: 6px;
color: white;
font-size: large;
}

.login-welcome{
    position: absolute;
width: 269px;
height: 49px;
left: 919px;
top: 288px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;

color: #FFFFFF;
}

.login-enter-details{
position: absolute;
width: 245px;
height: 26px;
left: 919px;
top: 342px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #FFFFFF;
}

.login-noaccount-signup{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 312px;
height: 20px;
left: 898px;
top: 781px;

}

.rectangle{
    position: absolute;
    width: 728px;
    height: 1028px;
    left: 712px;
    top: 0px;
    background-image: url(/Users/rafiakhandaker/Development/code/phase-5/p5-concert-buddy/concert-buddy/client/src/LoginRectangleOverlay.png);
    }

