/* Login Page */
.login {
color:white;
position: fixed;
min-height: 100%;
min-width:1024px;
width: 100%;
height: auto;
left:0;
top:0;
background: url(/Users/rafiakhandaker/Development/code/phase-5/p5-concert-buddy/concert-buddy/client/src/LoginSignupBackground.png);
}

.login-logo{
    position:relative;
    width:auto;
    height: 30%;
    max-height: 250px;

    left: 11.88%;
    right: 60.35%;
    top: 144px;
    bottom: 171px;
content: url(/Users/rafiakhandaker/Development/code/phase-5/p5-concert-buddy/concert-buddy/client/src/logo-expanded.png);
}

.login-user{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 0px;
gap: 8px;

position: absolute;
width: 430px;
height: 48px;
left: 939px;
top: 497px;

border-bottom: 1px solid #E0E0E0;
}

.login-password{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 0px;
gap: 8px;

position: absolute;
width: 430px;
height: 48px;
left: 939px;
top: 560px;

border-bottom: 1px solid #E0E0E0;
}


.login-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 8px;

position: absolute;
width: 430px;
height: 60px;
left: 939px;
top: 705px;

background: #060606;
border-radius: 6px;
color: white;
font-size: large;
}

.login-welcome{
    position: absolute;
    width: 269px;
    height: 49px;
    left: 1007px;
    top: 191px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;

color: #FFFFFF;
}

.login-enter-details{
    position: absolute;
    width: 245px;
    height: 26px;
    left: 1019px;
    top: 252px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
color: #FFFFFF;
}

.login-noaccount-signup{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 312px;
height: 20px;
left: 998px;
top: 781px;

}

.rectangle{
    position: absolute;
    width: 728px;
    height: 1028px;
    left: 812px;
    top: 0px;
    background-image: url(/Users/rafiakhandaker/Development/code/phase-5/p5-concert-buddy/concert-buddy/client/src/LoginRectangleOverlay.png);
    }